__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/
venv/
.venv/
*.env
.env.*
secrets/
*.pem
*.key
.idea/
.vscode/
*.swp
.DS_Store
derby.log
metastore_db/
spark-warehouse/
*.parquet
_delta_log/
great_expectations/uncommitted/
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl
*.tfvars
!example.tfvars
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.mypy_cache/
*.log
logs/
